DATABASE_URL="postgresql://postgres:postgres@localhost:5433/doctor_db"
JWT_SECRET="change_this_secret"
JWT_EXPIRES_IN="7d"
PORT=3000
CORS_ORIGIN="https://drumitkayaalp.com,https://admin.drumitkayaalp.com"
NODE_ENV=production
UPLOAD_DIR=./public/uploads
